*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase — DO NOT commit these
app/google-services.json
functions/.env
app/build/outputs/apk/debug/app-debug.apk